@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@using System.Collections.Generic
@using System.Linq

@{
    var categories = Model as List<FenixAlliance.ABM.Models.Logistics.Stock.ItemCategories.ItemCategory>;
}

<div class="u-s-p-t-90">
    <div class="container">
        <div class="row">
            <div class="information-blocks">
                <div class="block-header text-center">
                    <h1 class="title">@_("Brands")</h1>
                    <div class="description">@_("To fulfill your passion for technology.")</div>
                </div>
            </div>
        </div>
        <br />
        <div class="row  is-grid-active">
            @foreach (var category in categories)
            {



                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product-m">
                        <div class="product-m__thumb">

                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/Store/Brands/Details/@category.ID">

                                <img class="aspect__img" src="@category.ImageURL" alt="@category.Title">
                            </a>

                            <div class="product-m__add-cart">

                                <a class="btn--e-brand" href="/Store/Categories/Details/@category.ID">View Products</a>
                            </div>
                        </div>
                        <div class="product-m__content">
                            <div class="product-m__category">
                                @if (category.IsFeatured)
                                {
                                    <a href="/Store/Featured/Details/@category.ID">Featured</a>
                                }
                            </div>
                            <div class="product-m__name text-center">

                                <a href="/Store/Categories/Details/@category.ID">@category.Title</a>

                            </div>



                            <div class="product-m__hover">
                                <div class="product-m__preview-description">
                                    <span>
                                        @category.Description
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>
