@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase

@using System.Linq
@using System.Security.Claims
@using System.Collections.Generic
@using FenixAlliance.ABM.Models.Global.Carts.CartRecords.ItemRecords;

@{
    var model = Model as List<FenixAlliance.ABM.Models.Global.Carts.CartRecords.ItemRecords.ItemCartRecord>;

    var shippingAddresses = new List<FenixAlliance.ABM.Models.Global.Locations.LocationScopes.HolderLocation>();

    if (User.Identity.IsAuthenticated)
    {
        string id = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        shippingAddresses = await DataContext.HolderLocation.AsAsyncEnumerable().Where(c => c.AccountHolderID == id).ToListAsync();
    }
}

<script>

    var TotalTaxes = 0.0;
    var TotalCartCost = 0.0;
    var TotalShippingCost = 0.0;
    var TotalPoliciesCost = 0.0;
</script>


<div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                    <div class="table-responsive">
                        <table class="table-p">
                            <tbody>
                                @if (model.Count == 0)
                                {
                                    <tr>
                                        <td><h3 class="text-center">Nothing here yet. <a href="Store/Products/Index">Let's go shopping</a>.</h3></td>
                                    </tr>
                                }

                                @foreach (ItemCartRecord item in model)
                                {



                                    <!--====== Row ======-->
                                    <tr id="@item.ID">


                                        <td>
                                            <script>
                                        var ShippingCost = 0.0;
                                        var WarrantyCost = 0.0;
                                        var RefundPolicyCost = 0.0;
                                        var ReturnPolicyCost = 0.0;
                                        @{

                                            var image = "/Store/img/empty-image.png";
                                            var ProductImagePlaceholder = "/Store/img/empty-image.png";
                                            if (item.Item?.ItemImages != null && item.Item?.ItemImages.Count != 0)
                                            {
                                                image = item.Item.ItemImages?.First()?.FileUploadURL ?? ProductImagePlaceholder;
                                            }
                                            else
                                            {
                                                image = ProductImagePlaceholder;
                                            }


                                            if (item.ItemShippingPolicy != null)
                                            {
                                                <text>
                                                    ShippingCost += (@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') * (@item.ItemShippingPolicy.Percentage.ToString().Replace(',', '.')/100));
                                                    ShippingCost += ( fx.convert(@item.ItemShippingPolicy.Value.ToString().Replace(',', '.'), { from: '@item.ItemShippingPolicy.Currency.ISOCode', to: "USD" }) );

                                                </text>
                                            }
                                            if (item.WarrantyPolicy != null)
                                            {
                                                <text>
                                                    WarrantyCost += (@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') * (@item.WarrantyPolicy.Percentage.ToString().Replace(',', '.')/100));
                                                    WarrantyCost += ( fx.convert(@item.WarrantyPolicy.Value.ToString().Replace(',', '.'), { from: '@item.WarrantyPolicy.Currency.ISOCode', to: "USD" }) );
                                                </text>
                                            }
                                            if (item.RefundPolicy != null)
                                            {
                                                <text>
                                                    RefundPolicyCost += (@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') * (@item.RefundPolicy.Percentage.ToString().Replace(',', '.')/100));
                                                    RefundPolicyCost += ( fx.convert(@item.RefundPolicy.Value.ToString().Replace(',', '.'), { from: '@item.RefundPolicy.Currency.ISOCode', to: "USD" }) );
                                                </text>
                                            }
                                            if (item.ReturnPolicy != null)
                                            {
                                                <text>
                                                    ReturnPolicyCost += (@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') * (@item.ReturnPolicy.Percentage.ToString().Replace(',', '.')/100));
                                                    ReturnPolicyCost += ( fx.convert(@item.ReturnPolicy.Value.ToString().Replace(',', '.'), { from: '@item.ReturnPolicy.Currency.ISOCode', to: "USD" }) );
                                                </text>
                                            }
                                        }
                                            </script>

                                            <div class="table-p__box">
                                                <div class="table-p__img-wrap">

                                                    <img class="u-img-fluid" src="@image" alt="@item.Item.Title">
                                                </div>
                                                <div class="table-p__info">

                                                    <span class="table-p__name">

                                                        <a href="/Store/Products/Details/@item.Item.ID">@item.Item.Title</a>
                                                    </span>
                                                    @if (item.Item.ItemCategory is not null)
                                                    {
                                                        <span class="table-p__category">
                                                            <a href="/Store/Categories/Details/@item.Item.ItemCategory.ID">@item.Item.ItemCategory.Title</a>
                                                        </span>
                                                    }

                                                    <ul class="table-p__variant-list">
                                                        <li>
                                                            <span>SKU: @Html.Raw(item.Item.SKU)</span>
                                                        </li>
                                                        <li>
                                                            <span>Ships from:  <b>@(item?.Item?.ShippingCountry?.Name ?? "Unknown")</b></span>
                                                        </li>
                                                    </ul>

                                                    <div class="cell-view table-p__variant-list">

                                                        <a class="title" href="Store/Products/Details/@item.Item.ID">@item.Item.Title</a>

                                                        <span>
                                                            Shipping:&nbsp;

                                                            <script>
                                                                document.write(CurrencyFormatter.format(fx.convert(ShippingCost, { from: 'USD', to: CartCurrencyCode })));
                                                            </script>
                                                        </span>

                                                        @if (item.Item.ItemShippingPolicyRecords.Count == 0)
                                                        {
                                                            <span style="color:red">This Item cannot be shipped now and wont be copied to your order yet. If you proceed, it will instead be added to your default WishList.</span>
                                                        }
                                                        <div class="simple-drop-down simple-field size-1">
                                                            <select onchange="UpdatePCR('@item.ID','@item.ItemID')" id="@item.ID-ItemShipmentPolicySelector">
                                                                @if (item.Item.ItemShippingPolicyRecords.Count == 0)
                                                                {
                                                                    <option value="" disabled selected>No options availiable. Canno't be shipped yet.</option>
                                                                }
                                                                @foreach (var Policy in item.Item.ItemShippingPolicyRecords)
                                                                {
                                                                    if (Policy.ItemShippingPolicyID == item.ItemShippingPolicyID)
                                                                    {
                                                                        <option selected value="@Policy.ItemShippingPolicyID">@Policy.ItemShippingPolicy.Title</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Policy.ItemShippingPolicyID">@Policy.ItemShippingPolicy.Title</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>

                                                        <span>
                                                            Shipping Address:&nbsp;
                                                        </span>

                                                        @if (!User.Identity.IsAuthenticated)
                                                        {
                                                            <span style="color:red">Please <a href="/account/login">Log in</a> to create a shipping address.</span>
                                                        }
                                                        else
                                                        {
                                                            <div class="simple-drop-down simple-field size-1">

                                                                <select onchange="UpdatePCR('@item.ID','@item.ItemID')" id="@item.ID-ShippingAddresses">
                                                                    @if (shippingAddresses.Count == 0)
                                                                    {
                                                                        <option value="" disabled selected>No addresses availiable</option>
                                                                    }

                                                                    @foreach (var address in shippingAddresses)
                                                                    {
                                                                        <option value="@address.ID">@address.Title</option>
                                                                    }
                                                                </select>
                                                                <span style="color:red">Please <a href="/account/login">Create</a> a shipping address.</span>

                                                            </div>
                                                        }

                                                        <span>
                                                            Warranty Policy:&nbsp;

                                                            <script>
                                                                document.write(CurrencyFormatter.format(fx.convert(WarrantyCost, { from: 'USD', to: CartCurrencyCode })));
                                                            </script>
                                                        </span>

                                                        <div class="simple-drop-down simple-field size-1">
                                                            <select onchange="UpdatePCR('@item.ID','@item.ItemID')" id="@item.ID-ItemWarrantyPolicySelector">
                                                                @if (item.Item.ItemWarrantyPolicyRecords.Count == 0)
                                                                {
                                                                    <option value="" disabled selected>No options availiable</option>
                                                                }
                                                                @if (item.WarrantyPolicy == null)
                                                                {
                                                                    <option selected value="">Please select your warranty</option>
                                                                }
                                                                @foreach (var Policy in item.Item.ItemWarrantyPolicyRecords)
                                                                {
                                                                    if (Policy.WarrantyPolicyID == item.WarrantyPolicyID)
                                                                    {
                                                                        <option selected value="@Policy.WarrantyPolicyID">@Policy.WarrantyPolicy.Title</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Policy.WarrantyPolicyID">@Policy.WarrantyPolicy.Title</option>
                                                                    }
                                                                }
                                                            </select>

                                                        </div>

                                                        <span>
                                                            Refund Policy:&nbsp;
                                                            <script>
                                                                document.write(CurrencyFormatter.format(fx.convert(RefundPolicyCost, { from: 'USD', to: CartCurrencyCode })));
                                                            </script>
                                                        </span>

                                                        <div class="simple-drop-down simple-field size-1">
                                                            <select onchange="UpdatePCR('@item.ID','@item.ItemID')" id="@item.ID-ItemRefundPolicySelector">
                                                                @if (item.Item.ItemRefundPolicyRecords.Count == 0)
                                                                {
                                                                    <option value="" disabled selected>No options availiable</option>
                                                                }
                                                                @foreach (var Policy in item.Item.ItemRefundPolicyRecords)
                                                                {
                                                                    if (Policy.RefundPolicyID == item.RefundPolicyID)
                                                                    {
                                                                        <option selected value="@Policy.RefundPolicyID">@Policy.RefundPolicy.Title</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Policy.RefundPolicyID">@Policy.RefundPolicy.Title</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>


                                                        <p>
                                                            Return Policy:&nbsp;

                                                            <script>
                                                                document.write(CurrencyFormatter.format(fx.convert(ReturnPolicyCost, { from: 'USD', to: CartCurrencyCode })));
                                                            </script>
                                                        </p>
                                                        <div class="simple-drop-down simple-field size-1">
                                                            <select onchange="UpdatePCR('@item.ID','@item.ItemID')" id="@item.ID-ItemReturnPolicySelector">
                                                                @if (item.Item.ItemReturnPolicyRecords.Count == 0)
                                                                {
                                                                    <option value="" disabled selected>No options availiable</option>
                                                                }
                                                                @foreach (var Policy in item.Item.ItemReturnPolicyRecords)
                                                                {
                                                                    if (Policy.ReturnPolicyID == item.ReturnPolicyID)
                                                                    {
                                                                        <option selected value="@Policy.ReturnPolicyID">@Policy.ReturnPolicy.Title</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Policy.ReturnPolicyID">@Policy.ReturnPolicy.Title</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        @if (item.Item.ByRequest)
                                                        {
                                                            <p style="color:darkblue">Ordered as a request. Trackcking code will be added once available on your nearest warehouse.</p>
                                                        }
                                                        @if (item.Item.InStock != true)
                                                        {
                                                            <p style="color:red"> This Item is currently out of stock.</p>
                                                        }

                                                        <script>
                                                // Increase Total Taxes
                                                TotalTaxes += (@item.Item.EstimatedTaxesInUSD.ToString().Replace(',', '.') * @item.Quantity);
                                                TotalPoliciesCost += (WarrantyCost + RefundPolicyCost + ReturnPolicyCost) * @item.Quantity;
                                                TotalShippingCost += (ShippingCost) * @item.Quantity ;
                                                TotalCartCost += ((@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') + ShippingCost +  WarrantyCost + RefundPolicyCost + ReturnPolicyCost) * @item.Quantity);
                                                        </script>

                                                    </div>


                                                </div>
                                            </div>
                                        </td>


                                        <td>
                                            <span class="table-p__price">
                                                <script> document.write(CurrencyFormatter.format(fx.convert(@item.Item.EstimatedTotalPriceInUSD.ToString().Replace(',', '.') - @item.Item.EstimatedTaxesInUSD.ToString().Replace(',', '.'), { from: 'USD', to: CartCurrencyCode })));</script>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="table-p__price">
                                                <script>document.write(CurrencyFormatter.format(fx.convert( @item.Item.EstimatedTaxesInUSD.ToString().Replace(',', '.'), { from: 'USD', to: CartCurrencyCode })));</script>
                                            </span>
                                        </td>

                                        <td>
                                            <div class="table-p__input-counter-wrap">

                                                <!--====== Input Counter ======-->
                                                <div class="input-counter">

                                                    <span class="input-counter__minus fas fa-minus"></span>

                                                    <input id="@item.ID-CartQuantity" class="input-counter__text input-counter--text-primary-style" type="text" value="@item.Quantity" data-min="1" data-max="1000">

                                                    <span class="input-counter__plus fas fa-plus"></span>

                                                </div>
                                                <!--====== End - Input Counter ======-->

                                            </div>

                                        </td>

                                        <td>
                                            <div class="table-p__del-wrap">
                                                <a class="far fa-trash-alt table-p__delete-link" onclick="RemoveStockItemFromCart('@item.ID')"></a>
                                            </div>
                                        </td>

                                    </tr>
                                    <!--====== End - Row ======-->

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="route-box">
                        <div class="route-box__g1">

                            <a class="route-box__link" href="/Store">
                                <i class="fas fa-long-arrow-alt-left"></i>
                                <span>CONTINUE SHOPPING</span>
                            </a>
                        </div>

                        <div class="route-box__g2">

                            <a class="route-box__link" href="cart.html">
                                <i class="fas fa-trash"></i>
                                <span>CLEAR CART</span>
                            </a>

                            <a class="route-box__link" onclick="location.reload()">
                                <i class="fas fa-sync"></i>

                                <span>UPDATE CART</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>







<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                    <form class="f-cart">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <h1 class="gl-h1">ESTIMATE SHIPPING AND TAXES</h1>

                                    <span class="gl-text u-s-m-b-30">Enter your destination to get a shipping estimate.</span>
                                    <div class="u-s-m-b-30">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="shipping-country">COUNTRY *</label><select class="select-box select-box--primary-style" id="shipping-country">
                                            <option selected="" value="">Choose Country</option>
                                            <option value="uae">United Arab Emirate (UAE)</option>
                                            <option value="uk">United Kingdom (UK)</option>
                                            <option value="us">United States (US)</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="shipping-state">STATE/PROVINCE *</label><select class="select-box select-box--primary-style" id="shipping-state">
                                            <option selected="" value="">Choose State/Province</option>
                                            <option value="al">Alabama</option>
                                            <option value="al">Alaska</option>
                                            <option value="ny">New York</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="shipping-zip">ZIP/POSTAL CODE *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="shipping-zip" placeholder="Zip/Postal Code">
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <a class="f-cart__ship-link btn--e-transparent-brand-b-2" href="cart.html">CALCULATE SHIPPING</a>
                                    </div>

                                    <span class="gl-text">Note: There are some countries where free shipping is available otherwise our flat rate charges or country delivery charges will be apply.</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <h1 class="gl-h1">NOTE</h1>

                                    <span class="gl-text u-s-m-b-30">Add Special Note About Your Product</span>
                                    <div>

                                        <label for="f-cart-note"></label><textarea class="text-area text-area--primary-style" id="f-cart-note"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <div class="u-s-m-b-30">
                                        <table class="f-cart__table">
                                            <tbody>
                                                <tr>
                                                    <td>POLICIES</td>
                                                    <td>
                                                        <script>document.write(CurrencyFormatter.format(fx.convert(TotalPoliciesCost, { from: 'USD', to: CartCurrencyCode })));</script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>SHIPPING</td>
                                                    <td><script>document.write(CurrencyFormatter.format(fx.convert(TotalShippingCost, { from: 'USD', to: CartCurrencyCode })));</script></td>
                                                </tr>
                                                <tr>
                                                    <td>SHIPPING TAX</td>
                                                    <td>
                                                        <script>document.write(CurrencyFormatter.format(fx.convert(TotalShippingCost * 0.19, { from: 'USD', to: CartCurrencyCode })));</script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>TAX</td>
                                                    <td>
                                                        <script>document.write(CurrencyFormatter.format(fx.convert(TotalTaxes, { from: 'USD', to: CartCurrencyCode })));</script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>SUBTOTAL</td>
                                                    <td>
                                                        <script>document.write(CurrencyFormatter.format(fx.convert((TotalCartCost - TotalTaxes), { from: 'USD', to: CartCurrencyCode })));</script>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>GRAND TOTAL</td>
                                                    <td>
                                                        <script>document.write(CurrencyFormatter.format(fx.convert(TotalCartCost, { from: 'USD', to: CartCurrencyCode })))</script>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button class="btn btn--e-brand-b-2" type="submit"> PROCEED TO CHECKOUT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>



<script>

    function CartSubmitValidation() {
        toastr.info('Please calculate your shipping costs.')
    }

    // Update Item Cart Record
    function UpdatePCR(PCRID, ItemID) {

        var ItemRefundPolicy = $("#" + PCRID + "-ItemRefundPolicySelector").val();
        var ItemReturnPolicy = $("#" + PCRID + "-ItemReturnPolicySelector").val();
        var ItemWarrantyPolicy = $("#" + PCRID + "-ItemWarrantyPolicySelector").val();
        var ItemShipmentPolicy = $("#" + PCRID + "-ItemShipmentPolicySelector").val();
        var Quantity = parseInt($("#" + PCRID + "-Count").text())
        var Payload = '{"ID":"' + PCRID + '","Quantity":' + Quantity;


        if (ItemShipmentPolicy !== null && ItemShipmentPolicy !== "") {
            Payload += ', "ItemShipmentPolicyID": "' + ItemShipmentPolicy + '"';
        }
        if (ItemWarrantyPolicy !== null && ItemWarrantyPolicy !== "") {
            Payload += ', "WarrantyPolicyID" : "' + ItemWarrantyPolicy + '"';
        }
        if (ItemReturnPolicy !== null && ItemReturnPolicy !== "") {
            Payload += ', "ReturnPolicyID": "' + ItemReturnPolicy + '"';
        }
        if (ItemID !== null && ItemID !== "") {
            Payload += ', "ItemID": "' + ItemID + '"';
        }
        if (CartID !== null) {
            Payload += ', "CartID": "' + CartID + '"';
        }
        if (ItemRefundPolicy !== null && ItemRefundPolicy !== "") {
            Payload += ', "RefundPolicyID": "' + ItemRefundPolicy + '"';
        }
        Payload += '}';

        console.log(Payload);

        $.ajax({
            url: '/api/v2/Store/CartRecords/Products/' + PCRID,
            method: 'PUT',
            contentType: 'application/json',
            data: Payload,
        }).done(function (result) {
            toastr.success('Item Cart Record', 'Succesfully updated');
            location.reload();
        });
    };

    function DeleteCartRecord(ID) {
        $.ajax({
            url: '/api/v2/Store/CartRecords/Products/' + ID,
            type: 'DELETE',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },
        }).done(function (result) {
            $("#" + ID).fadeOut(500, function () { $(this).remove(); });
            toastr.success('Item Cart Record', 'Succesfully deleted');
            location.reload();
        });
    };
</script>

