@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@using Humanizer
@using System.Linq
@using System.Collections.Generic
@using Microsoft.EntityFrameworkCore

@{
    Title = "Home";
    Slug = "/Home";
    List<FenixAlliance.ABM.Models.Content.Posts.BlogPost> posts = DataContext.BlogPost
        .Include(c=>c.BlogPostComments)
        .Include(c=>c.TaxonomyRecords).ThenInclude(c=>c.Taxonomy)
        .Include(c=>c.BlogPostCategoryRecords).ThenInclude(c=>c.Taxonomy)
        .Include(c=>c.BusinessProfileRecord).ThenInclude(c=>c.AccountHolder)
        .Where(c=>c.Published)
        .OrderBy(c=>c.Timestamp)
        .Take(4)
        .ToList();
}

<!--====== App Content ======-->
<div class="app-content">

    @await ViewService.RenderAsync("StoreHomeOverride", Model)


    <div class="u-s-p-b-60">
        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">NEW ARRIVALS</h1>

                            <span class="section__span u-c-silver">GET UP FOR NEW ARRIVALS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        @await ViewService.RenderAsync("StoreItemsSlider", Model)
    </div>
    <!--====== End - Section 4 ======-->
    <!--====== Section 10 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">LATEST FROM BLOG</h1>

                            <span class="section__span u-c-silver">START YOU DAY WITH FRESH AND LATEST NEWS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach (var post in posts)
                    {
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="bp-mini bp-mini--img u-h-100">
                                <div class="bp-mini__thumbnail" style="height: 200px;">
                                    <!--====== Image Code ======-->
                                    <a class="aspect aspect--bg-greyect--1366-768 u-d-block"  href="/Blog/Posts/Details/@post.ID">
                                        <img class="aspect__img" src="@((!string.IsNullOrEmpty(post.HighlightImage)) ? post.HighlightImage : " /ui/images/generic-blogpost-image.png")" alt="">
                                    </a>
                                    <!--====== End - Image Code ======-->
                                </div>
                                <div class="bp-mini__content">
                                    <div class="bp-mini__stat">
                                        <span class="bp-mini__stat-wrap">
                                            <span class="bp-mini__publish-date">
                                                <a>
                                                    <span>@post.Timestamp.Humanize()</span>
                                                </a>
                                            </span>
                                        </span>
                                        <span class="bp-mini__stat-wrap">
                                            <span class="bp-mini__preposition">By</span>
                                            <span class="bp-mini__author">
                                                <a href="/Social/Holders/@post?.BusinessProfileRecord?.AccountHolder?.Id">@post?.BusinessProfileRecord?.AccountHolder?.PublicName</a>
                                            </span>
                                        </span>
                                        <span class="bp-mini__stat">
                                            <span class="bp-mini__comment">
                                                <a href="blog-detail.html">
                                                    <i class="far fa-comments u-s-m-r-4"></i>
                                                    <span>@(post.BlogPostComments?.Count ?? 0)</span>
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="bp-mini__category">
                                        @foreach (var item in post.BlogPostCategoryRecords)
                                        {
                                            <a>@item?.Taxonomy?.Title</a>
                                        }
                                    </div>
                                    <span class="bp-mini__h1">
                                        <a href="/Blog/Posts/Details/@post.ID">@post.Title</a>
                                    </span>
                                    <p class="bp-mini__p">@post.Excerpt</p>

                                    <div class="blog-t-w">
                                        @foreach (var item in post?.TaxonomyRecords ?? new())
                                        {
                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2">@item.Taxonomy?.Title</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 10 ======-->
</div>
<!--====== End - App Content ======-->