@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@{
    Title = "Home";

    Slug = "/Home";

    var Post = Model as FenixAlliance.ABM.Models.Content.Posts.BlogPost;
}
@using Humanizer

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />


<!--Main layout-->
<main >
    <div class="container">
        <!--Grid row-->
        <div class="row justify-content-md-center">
            <!--Grid column-->
            <div class="col-md-8 mb-4 mt-4">

                <!--Section: Post data-mdb-->
                <section class="border-bottom mb-4">
                    <img src="@(Model.HighlightImage ?? "/ui/images/generic-blogpost-image.png")" onerror="this.src='/ui/images/generic-blogpost-image.png'" class="img-fluid shadow-2-strong rounded mb-4 mt-4"  alt="@Model.Title" />

                    <div class="row align-items-center mb-4 mt-4">
                        <div class="col-lg-12">
                            <h1>@Model.Title</h1>
                        </div>   
                    </div>
                </section>
                <!--Section: Post data-mdb-->

                <!--Section: Author-->
                <section class="border-bottom mb-4 pb-4">
                    <div class="row">
                        <div class="col-3">
                            <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" ">
                            <img src="@Model.BusinessProfileRecord?.AccountHolder?.AvatarURL"
                                class="img-fluid shadow-1-strong rounded" alt="@($"{@Model.BusinessProfileRecord?.AccountHolder?.Name} {@Model.BusinessProfileRecord?.AccountHolder?.LastName}")" />
                            </a>
                        </div>

                        <div class="col-9">
                            <p class="mb-2">
                                <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" class="text-dark" style="color:black">
                                        <b>@($"{@Model.BusinessProfileRecord?.AccountHolder?.Name} {@Model.BusinessProfileRecord?.AccountHolder?.LastName}")</b><br/>
                                </a>
                                <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" >
                                    @@@Post.BusinessProfileRecord?.AccountHolder?.PublicName
                                </a>
                            </p>
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.LinkedInURL)){
                                <a href="@Post.BusinessProfileRecord?.AccountHolder?.LinkedInURL" target="_blank"  class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                            }
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.FacebookURL)){
                                <a href="@Post.BusinessProfileRecord?.AccountHolder?.FacebookURL" target="_blank" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                            }
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.TwitterHandler)){
                                <a href="https://twitter.com/@Post.BusinessProfileRecord?.AccountHolder?.TwitterHandler" target="_blank" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                            }
                            <p>
                                @Post.BusinessProfileRecord?.AccountHolder?.About
                            </p>
                        </div>
                    </div>
                </section>
                <!--Section: Author-->




                <!--Section: Text-->
                <section>
                    @(Model.Code ?? Model.HTMLContent   )
                </section>
                <!--Section: Text-->

                <!--Section: Share buttons-->
                <section class="text-center border-top border-bottom py-4 mb-4">
                    <p><strong>Share with your friends:</strong></p>

                    <div id="share"></div>

                </section>
                <!--Section: Share buttons-->

                <!--Section: Author-->
                <section class="border-bottom mb-4 pb-4">
                    <div class="row">
                        <div class="col-3">
                            <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" ">
                            <img src="@Model.BusinessProfileRecord?.AccountHolder?.AvatarURL"
                                class="img-fluid shadow-1-strong rounded" alt="@($"{@Model.BusinessProfileRecord?.AccountHolder?.Name} {@Model.BusinessProfileRecord?.AccountHolder?.LastName}")" />
                            </a>
                        </div>

                        <div class="col-9">
                            <p class="mb-2">
                                <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" class="text-dark" style="color:black">
                                        <b>@($"{@Model.BusinessProfileRecord?.AccountHolder?.Name} {@Model.BusinessProfileRecord?.AccountHolder?.LastName}")</b><br/>
                                </a>
                                <a href="href="/Social/Holders/Details/@Post.BusinessProfileRecord?.AccountHolder?.Id" >
                                    @@@Post.BusinessProfileRecord?.AccountHolder?.PublicName
                                </a>
                            </p>
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.LinkedInURL)){
                                <a href="@Post.BusinessProfileRecord?.AccountHolder?.LinkedInURL" target="_blank"  class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                            }
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.FacebookURL)){
                                <a href="@Post.BusinessProfileRecord?.AccountHolder?.FacebookURL" target="_blank" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                            }
                            @if(!string.IsNullOrEmpty(Post.BusinessProfileRecord?.AccountHolder?.TwitterHandler)){
                                <a href="https://twitter.com/@Post.BusinessProfileRecord?.AccountHolder?.TwitterHandler" target="_blank" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                            }
                            <p>
                                @Post.BusinessProfileRecord?.AccountHolder?.About
                            </p>
                        </div>
                    </div>
                </section>
                <!--Section: Author-->

                <!--Section: Comments-->
                <section class="border-bottom mb-3">
                    <p class="text-center"><strong>Comments: @Post.BlogPostComments.Count</strong></p>
                    @foreach (var comment in Post.BlogPostComments)
                    {
                        <!-- Comment -->
                        <div class="row mb-4">
                            <div class="col-2">
                                <img src="@((comment.OwnerSocialProfile as FenixAlliance.ABM.Models.Social.SocialProfiles.Scopes.AccountHolderSocialProfile)?.AccountHolder?.AvatarURL ?? "/ui/images/anonymous.png")"
                                    class="img-fluid shadow-1-strong rounded" alt="@(comment.OwnerSocialProfile as FenixAlliance.ABM.Models.Social.SocialProfiles.Scopes.AccountHolderSocialProfile).AccountHolder.PublicName" />
                            </div>
                
                            <div class="col-10">
                                <p class="mb-2"><strong>@(comment.OwnerSocialProfile as FenixAlliance.ABM.Models.Social.SocialProfiles.Scopes.AccountHolderSocialProfile).AccountHolder.PublicName</strong></p>
                                <p>
                                    @comment.Message
                                </p>
                            </div>
                        </div>
                    }
                </section>
                <!--Section: Comments-->
                @if(User.Identity.IsAuthenticated){
                    <!--Section: Reply-->
                    <section id="comments-box">
                        <p class="text-center"><strong>Leave a reply</strong></p>

                        <form>

                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form4Example3">Comment</label>
                                <textarea class="form-control" id="form4Example3" placeholder="Write a comment..." rows="4"></textarea>
                            </div>


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Publish
                            </button>
                        </form>
                    </section>
                    <!--Section: Reply-->
                }else{
                    <div class="alert alert-primary" role="alert" id="comments-box">
                       <b>
                            Please <a href="/Account/Login">login</a> or <a href="/Account/Register">Register</a> to leave comments.
                       </b>
                    </div>
                }
            </div>
            <!--Grid column-->

            @await ViewService.RenderAsync("BlogPostSidebar", Post)

        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->


    <script>
        $("#share").jsSocials({
            shares: ["email", "twitter", "facebook", "linkedin", "pinterest",  "whatsapp"],
            text: "@($"{Model.Title} {Model.Excerpt}")",
            shareIn: "popup"
        });
    </script>