@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase

@{
    Name = "Turing Store Template";
}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <base href="/" />
    <meta charset="UTF-8">

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    @await Component.InvokeAsync("MetaTags", Portal)

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/themes/turing/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/themes/turing/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="/themes/turing/css/app.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/money.js/0.0.1/money.min.js" integrity="sha512-dfZQaBBlTXvL+AUQKi7dd/9kb/KhreymnZYVdinjigqTdZUrAnLUNJRV34DUPFCdyek9mMBns3rzTlipnBKhTg==" crossorigin="anonymous"></script>

</head>

<body>

    
    @if (Portal.Options.Integrations.Google.GoogleTagManager.Enable)
    {
        @* Google Tag Manager (noscript) *@
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@Portal.Options.Integrations?.Google?.GoogleTagManager?.Id"
                    height="0"
                    width="0"
                    style="display:none; visibility:hidden">
            </iframe>
        </noscript>
    }

    <div class="preloader is-active">
        <div class="preloader__wrap">
            <img class="preloader__img" src="/themes/turing/images/preloader.png" alt="">
        </div>
    </div>

    <!--====== Main App ======-->
    <div id="app">
        @await Component.InvokeAsync("StoreHeader", User)
        @Body
        @await Component.InvokeAsync("StoreFooter", User)
    </div>

    <!--====== Google Analytics ======-->
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>

    <!--====== Vendor Js ======-->
    <script src="/themes/turing/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/themes/turing/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/themes/turing/js/app.js"></script>

    <script>
        function AddProductToCart(ProductID) {
            NProgress.start();
            $("#CartButton").attr("disabled", true);
            $("#CartButton").css('cursor', 'wait');
            var Count = $('#CartQuantity').text();
            var ProductCartRecord = { "ProductID": ProductID, "CartID": CartID, "Quantity": parseInt(1) };
            $.ajax({
                url: '/api/v2/Store/CartRecords/Products',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify(ProductCartRecord)
            }).done(function (ProductCartRecordResult) {
                $.ajax({
                    url: '/api/v2/Store/Products/GetFinalPriceInUSD?ItemID=' + ProductID,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                }).done(function (productPrice) {
                    // Product price to cart price
                    TotalPrice += fx.convert((productPrice * 1), { from: 'USD', to: CartCurrencyCode });
    
                    $.ajax({
                        url: '/api/v2/Store/Products/' + ProductID,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (productResult) {
    
                        var CartEntryDiv = `<div id="${ ProductCartRecordResult.id}" class="cart-entry">`; 
    
                        if (productResult.images === null || productResult.images.length === 0 ) {
                            CartEntryDiv +=
                                `<a href="/Store/Products/Details/${ProductID}" class="image">
                                    <img src="/Store/img/empty-image.png"   onerror="this.src='/Store/img/empty-image.png'" alt="">
                                </a>`;
                        } else {
                            CartEntryDiv += ` < a href = "/Store/Products/Details/' + ProductID + '" class="image" > <img src="${productResult?.images?.[0]}" onerror="this.src='/Store/img/empty-image.png'" alt=""></a>`;
                        }
                        CartEntryDiv += `
                                    <div class="content">
                                        <a class="title" href="/Store/Products/Details/${ProductID}">${productResult.title}</a>
                                        <div class="quantity">@_("Quantity"): 1 </div>
                                        <div class="price">${CurrencyFormatter.format(fx.convert((productPrice * 1), { from: 'USD', to: CartCurrencyCode }))}</div>
                                    </div>
                                    <div  onclick="RemoveProductFromCart(\'' + ProductCartRecordResult.id + '\',\'' + ProductID + '\')"  class="button-x"><i class="fa fa-close"></i></div>
                                </div>
                            `;
    
                        $("#cart-popup-container").prepend(CartEntryDiv);
    
                        if (ProductCartRecordsCount == 0) {
                            $("#NoProductsDivEntry").fadeOut(300, function () { $(this).remove(); });
                        }
    
                        ProductCartRecordsCount++;
    
                        $("#CartTotalPriceContainer").replaceWith("<b id='CartTotalPriceContainer'>" + CurrencyFormatter.format(TotalPrice) + "<b>");
                        $("#CartDropdownGrandtotal").replaceWith(`<b id='CartDropdownGrandtotal' class="grandtotal">Subtotal: ${CurrencyFormatter.format(TotalPrice)}<b>`);
    
                        toastr.success('@_("The product has been successfully added to your cart!")');
                        NProgress.done();
                    });
                });
            });
        };
    
        function RemoveProductFromCart(RecordID, ProductID) {
            NProgress.start();
            $.ajax({
                url: '/api/v2/Store/CartRecords/Products/' + RecordID,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function (ProdCartReg) {
                $.ajax({
                    url: '/api/v2/Store/CartRecords/Products/' + RecordID,
                    type: 'DELETE', contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                }).done(function (result) {
                    $.ajax({
                        url: '/api/v2/Store/Products/GetFinalPriceInUSD?ItemID=' + ProductID,
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (productPrice) {
                        $('#' + RecordID).fadeOut(300, function () { $(this).remove(); });
                        TotalPrice -= fx.convert((productPrice * ProdCartReg.quantity), { from: 'USD', to: CartCurrencyCode });
                        ProductCartRecordsCount--;
                        if (ProductCartRecordsCount == 0) {
                            var emptyBlock = `
                                <div id="NoProductsDivEntry" class="cart-entry">
                                    <a class="image"><img src="/images/Graphics/cod (103).png"   onerror="this.src='/Store/img/empty-image.png'" /></a>
                                    <div class="content">
                                        <a class="title" href="#">@_("This cart looks empty.")</a>
                                        <div class="quantity">@_("Let's add some products and services!")</div>
                                        <div class="price"><a href="/Store/Products">@_("Go to the Store")</a> </div>
                                    </div>
                                </div>
                            `;
    
                            $("#" + RecordID).replaceWith(emptyBlock);
                        }
                        else {
                            $('#' + RecordID).fadeOut(300, function () { $(this).remove(); });
                        }
    
                        $("#CartTotalPriceContainer").replaceWith("<b id='CartTotalPriceContainer'>" + CurrencyFormatter.format(TotalPrice) + "<b>");
                        $("#CartDropdownGrandtotal").replaceWith("<b id='CartDropdownGrandtotal' class=\"grandtotal\">Subtotal: " + CurrencyFormatter.format(TotalPrice) + "<b>");
    
                        toastr.info('@_("The product was successfully removed from your cart.")');
                        NProgress.done();
                    });
    
                });
            });
        };
    
        function AddProductToCompare(ProductID) {
            NProgress.start();
            var ProductToCompareRecord = { "ProductID": ProductID, "CartID": CartID };
            $.ajax({
                url: '/api/v2/Store/CompareRecords/Products',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify(ProductToCompareRecord)
            }).done(function (result) {
                toastr.info('@_("The product has been successfully added to your comparison table. Redirecting...")');
                NProgress.done();
                location.replace("/Store/Compare/Index");
            });
        };

    function AddToCart(ItemID) {
        NProgress.start();
        $("#CartButton").attr("disabled", true);
        $("#CartButton").css('cursor', 'wait');
        var Count = $('#CartQuantity').text();
        var ItemCartRecord = {  "ProductID": ItemID, "CartID": CartID, "Quantity": parseInt(Count) };
        $.ajax({
            url: '/api/v2/Store/CartRecords/Products',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify(ItemCartRecord)
        }).done(function (ItemCartRecordResult) {
            $.ajax({
                url: '/api/v2/Store/Products/GetFinalPriceInUSD?ItemID=' + ItemID,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            }).done(function (ItemPrice) {
                $("#CartTotalPriceContainer").replaceWith("<b id='CartTotalPriceContainer'>" + CurrencyFormatter.format(TotalPrice) + "<b>");
                $.ajax({
                    url: '/api/v2/Store/Products/' + ItemID,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                }).done(function (ItemResult) {
                    console.log(ItemResult)
                   var CartEntryDiv = `
                       <div id="${ItemCartRecordResult.ID}" class="cart-entry">
                           <a href="/Store/Items/Details/${ItemID}" class="image"><img src="${ItemResult?.Images?.[0]}" alt="Product Image"></a>
                           <div class="content">
                               <a class="title" href="/Store/Items/Details/${ItemID}">${ItemResult.title}</a>
                               <div class="quantity">
                                   @_("Quantity"):${parseInt(Count)}
                               </div>
                               <div class="price">
                                   ${CurrencyFormatter.format(fx.convert((ItemPrice * parseInt(Count)), { from: 'USD', to: CartCurrencyCode }))}
                               </div>
                           </div>
                           <div onclick="RemoveProductFromCart('${ItemCartRecordResult.iD}','${ItemID}')"  class="button-x">
                               <i class="fa fa-close"></i>
                           </div>
                       </div>;
                   `;

                    $("#cart-popup-container").prepend(CartEntryDiv);
                    if (ProductCartRecordsCount == 0) {
                        $("#NoProductsDivEntry").fadeOut(300, function () { $(this).remove(); });
                    }
                    ProductCartRecordsCount++;
                    // Item price to cart price
                    TotalPrice += fx.convert((ItemPrice * parseInt(Count)), { from: 'USD', to: CartCurrencyCode });
                    $("#CartTotalPriceContainer").replaceWith("<b id='CartTotalPriceContainer'>" + CurrencyFormatter.format(TotalPrice) + "<b>");
                    $("#CartDropdownGrandtotal").replaceWith("<b id='CartDropdownGrandtotal' class=\"grandtotal\">Subtotal: " + CurrencyFormatter.format(TotalPrice) + "<b>");
                    toastr.success("@_("Item has been successfully added to your cart! Please visit your cart when you finish shopping.")","@_("Awesome! this Item looks amazing.") 😉");
                    $("#CartButton").css('cursor', 'pointer');
                    $("#CartButton").replaceWith('<a  id="CartButton" class="button style-12 mx-auto" style="border-radius: 5px;background: #e82127; border-color: #e82127 ; display:block;" onclick="RemoveFromCart(\'' + ItemCartRecordResult.id + '\',\'' + ItemID + '\')" >@_("Remove from your cart")</a>');
                    NProgress.done();
                });
            });

        });
    };

    function RemoveFromCart(RecordID, ItemID) {
        NProgress.start();
        $("#CartButton").attr("disabled", true);
        $("#CartButton").css('cursor', 'wait');
        $.ajax({
            url: '/api/v2/Store/CartRecords/Products/' + RecordID,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).done(function (ProdCartReg) {
            $.ajax({
                url: '/api/v2/Store/CartRecords/Products/' + RecordID,
                type: 'DELETE', contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            }).done(function (ItemCartRecordResult) {
                console.log(ItemCartRecordResult)
                $("#CartButton").css('cursor', 'pointer');
                $("#CartButton").replaceWith('<a  id="CartButton" class="button style-12 mx-auto" style="border-radius: 5px;background: #3483FA; border-color: #3483FA; display:block;" onclick="AddToCart(\'' + ItemCartRecordResult.itemID + '\')" >@_("Add to your cart")</a>');
                $.ajax({
                    url: '/api/v2/Store/Products/GetFinalPriceInUSD?ItemID=' + ItemID,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                }).done(function (ItemPrice) {
                    console.log(ProdCartReg);
                    TotalPrice -= (fx.convert((ItemPrice * ProdCartReg.Quantity), { from: 'USD', to: CartCurrencyCode }));
                    $("#CartTotalPriceContainer").replaceWith("<b id='CartTotalPriceContainer'>" + CurrencyFormatter.format(TotalPrice) + "<b>");
                    $("#CartDropdownGrandtotal").replaceWith("<b id='CartDropdownGrandtotal' class=\"grandtotal\">Subtotal: " + CurrencyFormatter.format(TotalPrice) + "<b>");

                    ProductCartRecordsCount--;
                    if (ProductCartRecordsCount == 0) {
                        var NoItemsDivEntry = `

                            <div id="NoProductsDivEntry"  class="cart-entry">
                                <a class="image"><img src="/images/Graphics/cod (103).png" alt="" /></a>
                                <div class="content">
                                    <a class="title" href="#">@_("This cart looks empty.")</a>
                                    <div class="quantity">
                                        @_("Let's buy something!")
                                    </div>
                                    <div class="price">
                                        <a href="/Store/Items">@_("Go to Store")</a>
                                    </div>
                                </div>
                            </div>
                        `;

                        $("#" + RecordID).replaceWith(NoItemsDivEntry);
                    }
                    else {
                        $('#' + RecordID).fadeOut(300, function () { $(this).remove(); });
                    }
                    toastr.info("@_("Item has been successfully removed from your cart!")","@_("Not this one? Okay") 🗑");
                    NProgress.done();
                });
            });
        });
    };
</script>
    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a
                                JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>