<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-m">
        <div class="product-m__thumb">

            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/Store/Products/Details/@Model.ID">
                <img class="aspect__img" src="@(Model.PrimaryImageURL ?? "/Store/img/empty-image.png")" alt="@Model.Title" onerror="this.src='/Store/img/empty-image.png'">
            </a>
            <div class="product-m__quick-look">
                <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Quick Look"></a>
            </div>
            <div class="product-m__add-cart">
                @if (!Model.InStock && !Model.ByRequest)
                {
                    <div class="Item-image-label type-3"><span>Out of stock</span></div>
                }else{
                    <a class="btn--e-brand" onclick="AddProductToCart('@Model.ID')">Add to Cart</a>
                }
            </div>
        </div>
        <div class="product-m__content">

            <div class="product-m__category">
                <a href="/Store/Categories/@Model.ItemCategory?.ID">@Model.ItemCategory?.Title</a>
            </div>

            <div class="product-m__name">
                <a href="/Store/Products/Details/@Model.ID">
                    @Model.Title
                </a>
            </div>

            @Html.Raw(await ViewService.RenderAsync("StoreItemRating", Model))

            <div class="product-m__price">
                @if (!Model.ByRequest)
                {
                    @if (Model.InStock)
                    {
                        @if (Model.CurrentStock == 0)
                        {
                            <div class="current" style="color:orangered !important;font-size:20px;letter-spacing:1px; font-weight:400; margin:0px;">
                                @_("Low Stock")
                            </div>
                        }
                        else
                        {
                            <div class="current" style="color:green !important; font-size:20px; letter-spacing:1px; font-weight:400;">
                                @_("In Stock")
                            </div>
                        }
                    }
                    else
                    {
                        <div class="detail-info-entry " style=" margin:0px;">
                            <div class="current" style="color:red !important; font-size:20px;letter-spacing:1px;  font-weight:400;">
                                @_("Out of stock")
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="current" style="color:#002050 !important;font-size:20px;letter-spacing:1px; font-weight:400; margin:0px;">
                        @_("By Request")
                    </div>
                }
            </div>
            <div class="product-m__price">
                @if (Model.OnDiscount)
                {
                    <div class="prev">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = false, PrintUnformatted = false, ForexRates = ViewData["ExchangeRates"] })</div>
                    <div class="current" style="color:seagreen !important; font-weight:400;">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = true, PrintUnformatted = false })</div>
                }
                else
                {
                    <div class="current" style="color:seagreen !important; font-weight:400;">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = false, PrintUnformatted = false, ForexRates = ViewData["ExchangeRates"] })</div>
                }
            </div>

            <div class="product-m__hover">
                <div class="product-m__preview-description">
                    <span>
                        @Model.ShortDescription
                    </span>
                </div>
                <div class="product-m__wishlist">
                    <a class="far fa-heart" onclick="AddProductToCompare('@Model.ID')"  data-tooltip="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"></a>
                </div>  
                <div class="product-m__wishlist">
                    <a class="far fa-switch" href="#" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist"></a>
                </div>
            </div>
        </div>
    </div>
</div>