@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@using System.Linq
@using Microsoft.EntityFrameworkCore

@{
    var Cart = Model as FenixAlliance.ABM.Models.Global.Carts.Cart;
}

<script>
    var TotalPrice = 0;
    var ProductCartRecordsCount = @Cart.ItemCartRecords.Count;
</script>


<!--====== Dropdown Main plugin ======-->
<div class="menu-init" id="navigation3">

    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop" type="button"></button>

    <span class="total-item-round">@Cart.ItemCartRecords.Count</span>

    <!--====== Menu ======-->
    <div class="ah-lg-mode">

        <span class="ah-close">✕ Close</span>

        <!--====== List ======-->
        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">

            <li>
                <a href="/"><i class="fas fa-home "></i></a>
            </li>

            <li>
                <a href="/Account/Wishlists"><i class="far fa-heart"></i></a>
            </li>
            <li>
                <b id="CartTotalPriceContainer">

                </b>
            </li>

            <li class="has-dropdown">

                <a class="mini-cart-shop-link">

                    <i class="fas fa-shopping-bag"></i>

                    <span class="total-item-round">@Cart.ItemCartRecords.Count()</span>

                </a>

                <!--====== Dropdown ======-->

                <span class="js-menu-toggle"></span>

                <div class="mini-cart">

                    <!--====== Mini Product Container ======-->
                    <div id="cart-popup-container" class="mini-product-container gl-scroll u-s-m-b-15">

                        @if (Cart.ItemCartRecords.Count == 0)
                        {
                            <div id="NoProductsDivEntry" class="cart-entry">
                                <a class="image">
                                    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_cy82iv.json" background="transparent" speed="1" style="width:80%;" loopcontrolsautoplay></lottie-player>
                                </a>
                                <div class="content">
                                    <a class="title" href="#">@_("You dont have Items in your cart.")</a>
                                    <div class="quantity">@_("Let's add some!")</div>
                                    <div class="price"><a href="Store/Home/Index">@_("Go to Store")</a> </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var PCR in Cart.ItemCartRecords)
                            {

                                var image = "/Store/img/empty-image.png";
                                var ProductImagePlaceholder = "/Store/img/empty-image.png";
                                if (PCR.Item?.ItemImages != null && PCR.Item?.ItemImages.Count != 0)
                                {
                                    image = PCR.Item.ItemImages?.First()?.FileUploadURL ?? ProductImagePlaceholder;
                                }
                                else
                                {
                                    image = ProductImagePlaceholder;
                                }

                                <!--====== Card for mini cart ======-->
                                <div id="@PCR.ID" class="card-mini-product">
                                    <div class="mini-product">
                                        <div class="mini-product__image-wrapper">

                                            <a class="mini-product__link" href="/Store/Products/Details/@PCR.Item.ID">

                                                <img class="u-img-fluid" src="@image" onerror="this.src='/Store/img/empty-image.png'" alt="@PCR.Item.Title">

                                            </a>
                                        </div>
                                        <div class="mini-product__info-wrapper">

                                            <span class="mini-product__category">
                                                <a href="/Store/Categories/Details/@PCR.Item.ItemCategoryID">Electronics</a>
                                            </span>

                                            <span class="mini-product__name">
                                                <a href="/Store/Products/Details/@PCR.Item.ID">@PCR.Item.Title</a>
                                            </span>

                                            <span class="mini-product__quantity">x @PCR.Quantity</span>

                                            <span class="mini-product__price">

                                                @if (PCR.Item.OnDiscount)
                                                {
                                                    <script>
                                                            document.write(CurrencyFormatter.format(@PCR.Quantity * @await Component.InvokeAsync("ItemPrice", new { Item = PCR.Item, DisplayDiscountPrice = true, PrintUnformatted = true })));
                                                            TotalPrice += (@PCR.Quantity * @await Component.InvokeAsync("ItemPrice", new { Item = PCR.Item, DisplayDiscountPrice = true, PrintUnformatted = true }));
                                                    </script>
                                                }
                                                else
                                                {
                                                    <script>
                                                            document.write(CurrencyFormatter.format(@PCR.Quantity * @await Component.InvokeAsync("ItemPrice", new { Item = PCR.Item, DisplayDiscountPrice = false, PrintUnformatted = true })));
                                                            TotalPrice += (@PCR.Quantity * @await Component.InvokeAsync("ItemPrice", new { Item = PCR.Item, DisplayDiscountPrice = false, PrintUnformatted = true }));
                                                    </script>
                                                }

                                            </span>
                                        </div>
                                    </div>
                                    <a onclick="RemoveStockItemFromCart('@PCR.ID','@PCR.ItemID')" class="mini-product__delete-link far fa-trash-alt"></a>
                                </div>
                                <!--====== End - Card for mini cart ======-->
                            }
                        }
                    </div>
                    <!--====== End - Mini Product Container ======-->
                    <!--====== Mini Product Statistics ======-->
                    <div class="mini-product-stat">
                        <div class="mini-action">

                            <a class="mini-link btn--e-brand-b-2" href="/Store/Checkout/PlaceOrderFromCart">PROCEED TO CHECKOUT</a>

                            <a class="mini-link btn--e-transparent-secondary-b-2" href="/Store/Cart">VIEW CART</a>
                        </div>
                    </div>
                    <!--====== End - Mini Product Statistics ======-->
                </div>
                <!--====== End - Dropdown ======-->
            </li>
        </ul>
        <!--====== End - List ======-->
    </div>
    <!--====== End - Menu ======-->
</div>
<!--====== End - Dropdown Main plugin ======-->


<script>
    $(document).ready(function () {
        $("#CartTotalPriceContainer").text(CurrencyFormatter.format(TotalPrice))
    });
</script>