@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@using System
@using System.Linq
@using FenixAlliance.ABM.Models.Holders
@using FenixAlliance.ABM.Models.Accounting.Billing.Orders
@using FenixAlliance.ABM.Models.Accounting.Billing.Invoices
@using FenixAlliance.ABM.Models.Accounting.Billing.Payments

@{
    ViewData["Title"] = "New Order Payment";

    var Order = (Order)Model;
    var TaxBase = Order.TotalAmountInUSD - Order.TotalTaxesInUSD;
    var accountingSettings = await OptionsService.GetOptionAsync<dynamic>("AccountingSettings", WebPortal.ID);

}

<script type="text/javascript" src="/ui/lib/card/dist/jquery.card.js"></script>
<!-- Validate Phone -->
<script src="/ui/lib/intl-tel-input/build/js/intlTelInput.js"></script>
<script src="/ui/lib/intl-tel-input/build/js/utils.js"></script>
<link rel="stylesheet" href="/ui/lib/intl-tel-input/build/css/intlTelInput.css">

<script src="/ui/lib/cleave.js/dist/cleave.js"></script>
<script src="/ui/lib/cleave.js/dist/addons/cleave-phone.us.js"></script>

<style>
    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6
        }

        .invoice .company-details {
            text-align: right
        }

            .invoice .company-details .name {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .contacts {
            margin-bottom: 20px
        }

        .invoice .invoice-to {
            text-align: left
        }

            .invoice .invoice-to .to {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .invoice-details {
            text-align: right
        }

            .invoice .invoice-details .invoice-id {
                margin-top: 0;
                color: #3989c6
            }

        .invoice main {
            padding-bottom: 50px
        }

            .invoice main .thanks {
                margin-top: -100px;
                font-size: 2em;
                margin-bottom: 50px
            }

            .invoice main .notices {
                padding-left: 6px;
                border-left: 6px solid #3989c6
            }

                .invoice main .notices .notice {
                    font-size: 1.2em
                }

        .invoice table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px
        }

            .invoice table td,
            .invoice table th {
                padding: 15px;
                background: #eee;
                border-bottom: 1px solid #fff
            }

            .invoice table th {
                white-space: nowrap;
                font-weight: 400;
                font-size: 16px
            }

            .invoice table td h3 {
                margin: 0;
                font-weight: 400;
                color: #3989c6;
                font-size: 1.2em
            }

            .invoice table .qty,
            .invoice table .total,
            .invoice table .unit {
                text-align: right;
                font-size: 1.2em
            }

            .invoice table .no {
                color: #fff;
                font-size: 1.6em;
                background: #3989c6
            }

            .invoice table .unit {
                background: #ddd
            }

            .invoice table .total {
                background: #3989c6;
                color: #fff
            }

            .invoice table tbody tr:last-child td {
                border: none
            }

            .invoice table tfoot td {
                background: 0 0;
                border-bottom: none;
                white-space: nowrap;
                text-align: right;
                padding: 10px 20px;
                font-size: 1.2em;
                border-top: 1px solid #aaa
            }

            .invoice table tfoot tr:first-child td {
                border-top: none
            }

            .invoice table tfoot tr:last-child td {
                color: #3989c6;
                font-size: 1.4em;
                border-top: 1px solid #3989c6
            }

            .invoice table tfoot tr td:first-child {
                border: none
            }

        .invoice footer {
            width: 100%;
            text-align: center;
            color: #777;
            border-top: 1px solid #aaa;
            padding: 8px 0
        }

    @@media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important
        }

            .invoice footer {
                position: absolute;
                bottom: 10px;
                page-break-after: always
            }

            .invoice > div:last-child {
                page-break-before: always
            }
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="invoice">
                                <div class="invoice overflow-auto">
                                    <div style="min-width: 600px">
                                        <header>
                                            <div class="row">
                                                <div class="col">
                                                    <a href="javascript:void(0)">
                                                        <img src="@accountingSettings?.BillingSettings?.BusinessLogo" style="max-height:40px;" data-holder-rendered="true" />
                                                    </a>
                                                </div>
                                                <div class="col company-details">
                                                    <h2 class="name">
                                                        <a href="javascript:void(0)">
                                                            @accountingSettings?.BillingSettings?.BusinessLegalName
                                                        </a>
                                                    </h2>
                                                    <div>Tax ID: <b>@accountingSettings?.BillingSettings?.BusinessTaxID</b></div>

                                                    <div>
                                                        Tel: <a href="tel:@accountingSettings?.BillingSettings?.BusinessPhone">@accountingSettings?.BillingSettings?.BusinessPhone</a>
                                                    </div>
                                                    <div>
                                                        Email: <a href="mailto:@accountingSettings?.BillingSettings?.BusinessEmail">@accountingSettings?.BillingSettings?.BusinessEmail</a>
                                                    </div>
                                                    <div>
                                                        @accountingSettings?.BillingSettings?.BusinessAddress
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <main>
                                            <div class="row contacts">
                                                <div class="col invoice-to">
                                                    <div class="text-gray-light">ORDER OWNER:</div>

                                                    <h2 class="to"> @Order.AccountHolder.Name @Order.AccountHolder.LastName</h2>

                                                    <div class="email">
                                                        <a href="mailto:@Order.AccountHolder.Email">@Order.AccountHolder.Email</a>
                                                    </div>

                                                </div>
                                                <div class="col invoice-details">
                                                    @if (Order.Payments.Count == 0)
                                                    {

                                                        <h1 class="invoice-id " style="color:red">UNPAID</h1>

                                                        @await ViewService.RenderAsync("InvoicePaymentButton", Order)

                                                    }
                                                    else
                                                    {

                                                        <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

                                                        <script>
                                                            window.renderOptIn = function () {
                                                                window.gapi.load('surveyoptin', function () {
                                                                    window.gapi.surveyoptin.render(
                                                                    {
                                                                        // REQUIRED FIELDS
                                                                        "merchant_id": 118495305,
                                                                        "order_id": "@Order.ID",
                                                                        "email": "@Order.AccountHolder.Email",
                                                                        "delivery_country": "@((await DataContext.Country.AsAsyncEnumerable().FirstOrDefaultAsync(c=>c.ID == Order.AccountHolder.CountryID))?.ISO2 ?? "US")",
                                                                        "estimated_delivery_date": "@Order.Timestamp.AddDays(10).ToString("yyy-MM-dd")",

                                                                            //// OPTIONAL FIELDS
                                                                            //"products": [{ "gtin": "GTIN1" }, { "gtin": "GTIN2" }]
                                                                    });
                                                                });
                                                            }
                                                        </script>

                                                        if (Order.Payments.FirstOrDefault().PaymentStatus == PaymentStatus.Accepted)
                                                        {
                                                            <h1 class="invoice-id " style="color:darkblue">
                                                                Paid
                                                            </h1>
                                                        }
                                                    }
                                                    <div class="date"><b>Valid Until</b>: @Order.Timestamp.AddDays(3)</div>
                                                    <div class="date"><b>Created Date</b>: @Order.Timestamp</div>
                                                    <div class="date">
                                                        <b>Order Reference</b>: @Order.ID
                                                    </div>
                                                </div>
                                            </div>
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <thead>
                                                    <tr>
                                                        <th>SKU</th>
                                                        <th class="text-left">PRODUCT DESCRIPTION</th>
                                                        <th class="text-left">PRICE</th>
                                                        <th class="text-center">QUANTITY</th>
                                                        <th class="text-center">TOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var ProductOrderRegistration in Order.OrderItemRecords)
                                                    {
                                                        var ShippingDays = 4;

                                                        if (Order.Timestamp.DayOfWeek == DayOfWeek.Saturday)
                                                        {
                                                            ShippingDays = ShippingDays + 2;
                                                        }

                                                        if (Order.Timestamp.DayOfWeek == DayOfWeek.Sunday)
                                                        {
                                                            ShippingDays = ShippingDays + 1;
                                                        }

                                                        <tr>
                                                            <td class="no">@ProductOrderRegistration.Item.SKU</td>
                                                            <td class="text-left">
                                                                <a href="Store/Products/Details/@ProductOrderRegistration.Item.ID">
                                                                    <h3>
                                                                        @ProductOrderRegistration.Item.Title
                                                                    </h3>
                                                                </a>
                                                                <p>
                                                                    @Html.Raw(ProductOrderRegistration.Item.ShortDescription)
                                                                </p>
                                                                <h5>Applied Taxes:</h5>
                                                                @foreach (var AppliedTax in ProductOrderRegistration.AppliedTaxPolicyRecords)
                                                                {
                                                                    <p><b>@AppliedTax.TaxPolicy.Title</b></p>
                                                                }

                                                                <h5>Shipping Status:</h5>
                                                                @if (ProductOrderRegistration.Shipments == null)
                                                                {
                                                                    if (Order.Payments.Any(c => c.PaymentStatus == PaymentStatus.Accepted))
                                                                    {
                                                                        <p>
                                                                            <b>Processing</b>
                                                                        </p>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    // TODO: Add Address for this shipment
                                                                    <p>
                                                                        <b>Shipments</b>
                                                                    </p>
                                                                    foreach (var ItemOrderShipment in ProductOrderRegistration.Shipments)
                                                                    {
                                                                        <p>
                                                                            Expected Delivery Date: @ItemOrderShipment.ExpectedDeliveryDate
                                                                        </p>
                                                                    }
                                                                }

                                                                @if (Order.Timestamp.AddDays(ShippingDays).DayOfWeek == DayOfWeek.Saturday)
                                                                {
                                                                    ShippingDays = ShippingDays + 2;
                                                                }
                                                                @if (Order.Timestamp.AddDays(ShippingDays).DayOfWeek == DayOfWeek.Sunday)
                                                                {
                                                                    ShippingDays = ShippingDays + 1;
                                                                }
                                                                <p>
                                                                    <b>
                                                                        Expected Arrival:
                                                                        @Order.Timestamp.AddDays(ShippingDays).ToShortDateString()
                                                                    </b>
                                                                </p>

                                                                <p>
                                                                    <b>
                                                                        Shipping Policy:@{var ShipmentPolicy = ProductOrderRegistration.ItemShipmentPolicy?.Title ?? "None";}
                                                                        @ShipmentPolicy
                                                                    </b>
                                                                </p>
                                                                <p>
                                                                    <b>
                                                                        Warranty Policy: @{var WarrantyPolicy = ProductOrderRegistration.WarrantyPolicy?.Title ?? "None";} @WarrantyPolicy
                                                                    </b>
                                                                </p>
                                                                <p>
                                                                    <b>
                                                                        Refund Policy: @{var RefundPolicy = ProductOrderRegistration.RefundPolicy?.Title ?? "None";} @RefundPolicy
                                                                    </b>
                                                                </p>
                                                                <p>
                                                                    <b>
                                                                        Return Policy: @{var ReturnPolicy = ProductOrderRegistration.ReturnPolicy?.Title ?? "None";} @ReturnPolicy
                                                                    </b>
                                                                </p>

                                                            </td>
                                                            <td class="unit">
                                                                @await Component.InvokeAsync("Price", new
                                                                {
                                                                    Amount = ((ProductOrderRegistration.TotalAmountInUSD - ProductOrderRegistration.TotalTaxesInUSD) / ProductOrderRegistration.Quantity),
                                                                    Currency = "USD",
                                                                    PrintUnformatted = false
                                                                })
                                                            </td>
                                                            <td class="qty">@ProductOrderRegistration.Quantity</td>
                                                            <td class="total">
                                                                @await Component.InvokeAsync("Price", new
                                                                {
                                                                   Amount = ProductOrderRegistration.TotalAmountInUSD,
                                                                   Currency = "USD",
                                                                   PrintUnformatted = false
                                                               })
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td colspan="2">SUBTOTAL</td>
                                                        <td>
                                                            @await Component.InvokeAsync("Price", new
                                                            {
                                                                Amount = TaxBase,
                                                                Currency = "USD",
                                                                PrintUnformatted = false
                                                            })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td colspan="2">TAX</td>
                                                        <td>
                                                            @await Component.InvokeAsync("Price", new
                                                            {
                                                                Amount = Order.TotalTaxesInUSD,
                                                                Currency = "USD",
                                                                PrintUnformatted = false
                                                            })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td colspan="2">GRAND TOTAL</td>
                                                        <td>
                                                            @await Component.InvokeAsync("Price", new
                                                            {
                                                                Amount = Order.TotalAmountInUSD,
                                                                Currency = "USD",
                                                                PrintUnformatted = false
                                                            })
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="thanks">
                                                Thank you for your business!
                                            </div>
                                            <div class="notices">
                                                <div>NOTICE:</div>
                                                <div class="notice">
                                                    Your order will be processed in US dollars. Prices
                                                    before VAT, except Cloud products by subscription, which are excluded
                                                    from VAT. For all modalities of licensing and recurring payments, it
                                                    will be billed to the TRM of the US Dollar on the billing day.
                                                </div>
                                            </div>
                                        </main>
                                        <footer>
                                            This order id valid was digitally expedited and is valid without the signature
                                            and seal.
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
